.amp-loader {
  width: 55px;
  aspect-ratio: 1;
  --amp-loader-color: #f26722;
  --square: linear-gradient(var(--amp-loader-color) 0 0);
  background: var(--square), var(--square), var(--square);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: amp-loader-l7 1.5s infinite;
}

.amp-loader--light {
  --amp-loader-color: #fff;
}

@keyframes amp-loader-l7 {
  0% {
    background-position: 0 0, 0 100%, 100% 100%;
  }
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}
